<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".ClockApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clock"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Clock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.alarm.fullScreenAlarmActivity.FullScreenAlarmActivity"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Clock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".services.timer.fullScreenTimerFinishedActivity.TimerFinishedActivity"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Clock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
        <service android:name=".services.timer.foregroundService.TimerService"
            android:foregroundServiceType="specialUse"
            android:exported="false"/>

        <service android:name=".services.stopwatch.foregroundService.StopwatchService"
            android:foregroundServiceType="specialUse"
            android:exported="false"/>

        <receiver android:name=".services.alarm.receivers.bootReceivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".services.stopwatch.receivers.LapReceiver"/>
        <receiver android:name=".services.stopwatch.receivers.StopReceiver"/>
        <receiver android:name=".services.stopwatch.receivers.ContinueReceiver"/>
        <receiver android:name=".services.widget.receiver.TriggerWidgetUpdate"/>
        <receiver android:name=".services.alarm.receivers.earlyAlarmReceivers.DismissUpcomingReceiver"/>
        <receiver android:name=".services.alarm.receivers.earlyAlarmReceivers.EarlyAlarmReceiver"/>
        <receiver android:name=".services.alarm.receivers.alarmReceivers.AlarmReceiver"/>
        <receiver android:name=".services.alarm.receivers.alarmReceivers.SnoozeDismissReceiver"/>
        <receiver android:name=".services.alarm.receivers.alarmReceivers.DismissAlarmReceiver"/>
        <receiver android:name=".services.alarm.receivers.autoCanceledAlarmReceiver.AutoCanceledAlarmReceiver"/>
        <receiver android:name=".services.timer.receiver.DismissTimerReceiver"/>
        <receiver android:name=".services.timer.receiver.AutoDismissTimerReceiver"/>
        <receiver android:name=".services.timer.receiver.TimerEndReceiver"/>
        <receiver android:name=".services.widget.receiver.ClockWidgetReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.olr261dn.clock.ALARM_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_info" />
        </receiver>
        <receiver android:name=".services.alarm.receivers.timeChangeReceiver.TimeChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>